#menu {
  background-image: url(https://cdn.sbcdn.it/fu/newbooking_tmpl/763323_IMG_ASF.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
 #reservation{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxTz1fQT_FRKlAfF0g939EqzHrw_HgkZKyhenkTm2aHVm6V9d0);
  background-size: cover;
  background-repeat: no-repeat;
}
#formCheck {
  background-color: rgba(51, 170, 51, 0.4);
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#formEditRooms {
  display: none;
}
#marq {
  font-size: 70px;
  color: red;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;
  font-weight: bold;
}
#reservationContainer {
  background: rgb(153, 153, 153);

  display: none;
}
#reservationListContainer {
  display: none;
  background: #add8e6;
}

#formRooms {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: auto;

  width: auto;
  align-content: center;
  position: relative;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#tableShowRoom {
  background-color: lightblue;
}

#tableInputRoom {
  display: none;
}
#tableShowRoom {
  display: none;
}

#saveButton {
  display: none;
}
#idInput {
  display: none;
}
#deleteBtn {
  display: none;
}
#deleteInputTitle {
  display: none;
}
#editButton {
  display: none;
}
#tableContainer {
  display: none;
  background: #add8e6;
}
#payment {
  background-image: url(https://www.federalreserve.gov/images/filmstrip-payment-systems.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

    #checkNameLastName{
     display:none;
    }

#input-group{
    padding: 50px;
    margin: 10px auto;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}
.input-group-text{
    width: 120px;
}
